@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<div class="container">
    <h1>Basket</h1>
    
    <div id="basket-page"></div>
   
</div>