@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Relewise.UmbracoV10.Application.Infrastructure.Extensions

<div class="container">
    <h1>@Model.GetTitle()</h1>

    <div class="row m-t-15">
        @foreach (IPublishedContent child in Model.Children.EmptyIfNull())
        {
            @await Html.PartialAsync("~/Views/Partials/Blocks/_SplashBlock.cshtml", child)  
        }

    </div>
</div>