@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Relewise.Umbraco.Application.Infrastructure.Extensions


<section class="container">
    <h1> @Model.GetTitle()</h1>
</section>

<div id="category-page" category="@Model.Value("categoryId")"></div>