@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Relewise.UmbracoV10.Application.Infrastructure.Extensions

<div class="container">
    <h1>@Model.GetTitle()</h1>

    <div id="update-cookie-consent"></div>
</div>