@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>

    
<div class="container">
    
    <h1>Thank you for your order!</h1>

</div>