@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Site>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">

        <div id="recommend-popular"></div>
    </div>
</section>

<div id="product-recommendations-wrapper"></div>