@model IPublishedContent
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var splashImage = Model.GetCropUrl("splashImage", "On Page");
    
    bool hasSplashImage = splashImage != null;
}
<div class="col-4">
    <a href="@Model.Url()" style="display: block;">
        @if (hasSplashImage)
        {
            <img src="@splashImage" style="max-width: 100%;" />
        }
        <h4 class="m-t-5">@(Model.Value<string>("headline"))</h4>

        <div class="m-t-5">
            @Html.Raw(Model.Value<string>("splashText"))
        </div>
    </a>
</div>