<div ng-app id="relewiseDashboard" ng-controller="relewiseDashboardController as vm" class="relewise-dashboard">
    <umb-box>
        <umb-box-content>
            <h2>Relewise</h2>
            <p>
                Welcome to the Relewise dashboard - Here you can perform export functions get all your content exported into Relewise.<br />
                It's also possible to change the settings for Relewise directly here.
            </p>
            <div style="margin-bottom: 10px;">
                <button class="btn btn-primary" ng-click="vm.exportContent()" ng-disabled="vm.exportLoading'">
                    Export all content to Relewise
                </button>
            </div>
            <div class="export-error" ng-if="vm.errorMessage">{{vm.errorMessage}}</div>
            <div class="export-success" ng-if="vm.success">{{vm.success}}</div>

        </umb-box-content>
    </umb-box>
</div>