<div ng-app id="relewiseDashboard" ng-controller="relewiseDashboardController as vm" class="relewise-dashboard">
    <umb-box>
        <umb-box-content>
            <h3 class="bold">Welcome to the Relewise dashboard!</h3>
            <p>
                You can perform various operations, e.g. Export all your content to Relewise.<br />
                It's also possible to see the settings configured for Relewise directly here.
            </p>
            <hr />
            <div class="button-box">
                <button class="btn btn-primary" ng-click="vm.exportContent()" ng-disabled="vm.configuration === null || vm.configuration.factoryFailed || vm.exportLoading">
                    Export content
                </button>

                <button class="btn btn-danger" ng-click="vm.exportContentPermanentlyDelete()" ng-disabled="vm.configuration === null || vm.configuration.factoryFailed || vm.exportLoading">
                    Export content and remove old data
                </button>
            </div>
            <div class="error mt-10" ng-if="vm.errorMessage">{{vm.errorMessage}}</div>
            <div class="export-success mt-10" ng-if="vm.success">{{vm.success}}</div>
        </umb-box-content>
    </umb-box>

    <umb-box>
        <umb-box-content>
            <h3>Settings</h3>
            <div ng-if="vm.relewiseNotAddedToUmbracoBuilder">
                <span class="error">Relewise has not been added to the Umbraco builder. In 'Startup.cs' locate the 'services.AddUmbraco(...)'-method:</span><br />
                <pre>
services.AddUmbraco(_env, _config)
	.AddBackOffice()
	.AddWebsite()
	.AddComposers()
	.AddRelewise()
	.Build();
...
</pre>
                Note the '.AddRelewise()' method-call above - insert that and re-run the site.
            </div>

            <div ng-if="vm.unhandledError">
                <span class="error">Unexpected error occurred. Please check the response on the XHR request or check logs.</span><br />
            </div>

            <div ng-if="vm.configuration !== null">

                <div ng-if="vm.configuration.factoryFailed">
                    <span class="error">No settings have been configured. Please check your call to the 'services.AddRelewise(options => { /* options goes here */ })'-method in 'Startup.cs':</span><br />
                    <pre>
public void ConfigureServices(IServiceCollection services)
{
	services.AddRelewise(options => options.ReadFromConfiguration(_config));
...			
}</pre>
                    <span>Which then reads from the following configuration in appsettings.json:</span>
                    <pre>
"Relewise": {
   "DatasetId": "00000000-0000-0000-0000-000000000000",
   "ApiKey": "ApiKey",
   "Timeout": "00:00:03"
}
</pre>
                    <span>Error message from server:</span>
                    <pre>{{vm.configuration.errorMessage}}</pre>
                    <span>You can read more about configuring Relewise here: <a href="https://github.com/Relewise/relewise-sdk-csharp-extensions" target="_blank">https://github.com/Relewise/relewise-sdk-csharp-extensions</a></span>
                </div>

                <div ng-if="vm.configuration.trackedContentTypes">
                    Tracked content types are:
                    <strong ng-if="vm.configuration.trackedContentTypes.length > 0">{{vm.configuration.trackedContentTypes.join(', ')}}</strong>
                    <span ng-if="vm.configuration.trackedContentTypes.length === 0" style="font-style: italic;">No tracked content type have been configured</span>
                    <div style="font-style: italic; color: #666;">(Page views on these content types are automatically being tracked to Relewise by the RelewiseContentMiddleware)</div>
                    <div ng-if="vm.configuration.trackedContentTypes.length > 0 && !vm.configuration.contentMiddlewareEnabled" style="font-style: italic; color: red;">To have Page views being tracked automatically to Relewise, please ensure a call to the 'TrackContentViews()'-method in 'Startup.cs':</div>
                    <pre ng-if="vm.configuration.trackedContentTypes.length > 0 && !vm.configuration.contentMiddlewareEnabled">
app.UseUmbraco()
	.WithMiddleware(u =>
	{
		u.UseBackOffice();
		u.UseWebsite();
		u.TrackContentViews();
	})
	.WithEndpoints(u =>
	{
		u.UseInstallerEndpoints();
		u.UseBackOfficeEndpoints();
		u.UseWebsiteEndpoints();
	});</pre>
                </div>

                <div ng-if="vm.configuration.exportedContentTypes" style="margin-top: 20px;">
                    Exported content types are:
                    <strong ng-if="vm.configuration.exportedContentTypes.length > 0">{{vm.configuration.exportedContentTypes.join(', ')}}</strong>
                    <span ng-if="vm.configuration.exportedContentTypes.length === 0" style="font-style: italic;">No exported content type have been configured</span>
                    <div style="font-style: italic; color: #666;">(Any publish on these content types will automatically export the data to Relewise)</div>
                </div>

            </div>
            <div>
                <hr />
                <span>Find more information about the Umbraco integration here: <a href="https://github.com/Relewise/relewise-integrations-umbraco" target="_blank">https://github.com/Relewise/relewise-integrations-umbraco</a></span>
            </div>
        </umb-box-content>
    </umb-box>

    <h3 ng-if="vm.configuration !== null && vm.configuration.named">Clients</h3>
    <umb-box ng-if="vm.configuration !== null && vm.configuration.named">
        <div class="umb-table">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell not-fixed umb-table__name">Name</div>
                    <div class="umb-table-cell not-fixed">DatasetId</div>
                    <div class="umb-table-cell not-fixed">Timeout</div>

                </div>
            </div>
            <div class="umb-table-body">
                <div ng-repeat="named in vm.configuration.named">
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed umb-table__name">
                            {{named.name}}
                        </div>
                        <div class="umb-table-cell not-fixed"></div>
                        <div class="umb-table-cell not-fixed"></div>
                    </div>
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed umb-table__name">
                            <span class="pl-20">Tracker</span>
                        </div>
                        <div class="umb-table-cell not-fixed">{{ named.tracker.datasetId }}</div>
                        <div class="umb-table-cell not-fixed">{{ named.tracker.timeout }}</div>
                    </div>
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed umb-table__name">
                            <span class="pl-20">Recommender</span>
                        </div>
                        <div class="umb-table-cell not-fixed">{{ named.recommender.datasetId }}</div>
                        <div class="umb-table-cell not-fixed">{{ named.recommender.timeout }}</div>
                    </div>
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed umb-table__name">
                            <span class="pl-20">Searcher</span>
                        </div>
                        <div class="umb-table-cell not-fixed">{{ named.searcher.datasetId }}</div>
                        <div class="umb-table-cell not-fixed">{{ named.searcher.timeout }}</div>
                    </div>
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed umb-table__name">
                            <span class="pl-20">Search Administrator</span>
                        </div>
                        <div class="umb-table-cell not-fixed">{{ named.searchAdministrator.datasetId }}</div>
                        <div class="umb-table-cell not-fixed">{{ named.searchAdministrator.timeout }}</div>
                    </div>
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed umb-table__name">
                            <span class="pl-20">Analyzer</span>
                        </div>
                        <div class="umb-table-cell not-fixed">{{ named.analyzer.datasetId }}</div>
                        <div class="umb-table-cell not-fixed">{{ named.analyzer.timeout }}</div>
                    </div>
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed umb-table__name">
                            <span class="pl-20">Data Accessor</span>
                        </div>
                        <div class="umb-table-cell not-fixed">{{ named.dataAccessor.datasetId }}</div>
                        <div class="umb-table-cell not-fixed">{{ named.dataAccessor.timeout }}</div>
                    </div>
                </div>
            </div>
        </div>
    </umb-box>
</div>
